.stat-table {
  display: flex;
  flex-direction: column;
 

  .formation-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; /* Pour espacer les éléments horizontalement */
    flex-direction: column;
    margin: 10px;


    h1 {
      text-align: center; /* Centre le texte horizontalement */
    }
  }


}

