body {
  background: whitesmoke;
  margin: 0;
  font-family: Arial;
}

$color-green-entete: #00bf63;
$color-green-nav: #009659;
$color-green-button: #7ed957;

$color-grey-one: #e3e3e3;
$color-grey-two: #737373;

$color-bluegrey: #2cbfae;
$color-bluegrey-onclick: #0097b2;
$color-blueviolet: #5271ff;
$color-bluegreen: #0d877a
